.inner{
  background-color: white;
  margin: auto;
  width: 95%;
  height: 95%;
}
a:visited{
  background-color: white;
  color: black;
  text-decoration: none;
}

a:hover{
  background-color: white;
  color: #ebca8f;
  text-decoration: none;
}

a:active{
  background-color:white;
  color: #ebca8f;
  text-decoration: none;
}
nav a{text-decoration: none;
     }


body{
  background-image:url("https://img.freepik.com/premium-photo/beautiful-luxury-gray-marble-background_50039-961.jpg?w=2000");
  text-align: center;
  width: 100vw;
  height: 100vh;
  
}
.inner{
  background-color: white;
  margin: auto;
  width: 95%;
  height: 95%;
}

